.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  background: #000;
  width: 100%;
}

.link {
  background: #000;
  color: #fff;
  font-size: x-large;
  padding: 2vh 1vh 1vh;
  text-decoration: none;
  transition: 100ms;
  user-select: none;
  white-space: nowrap;
}

.link:hover {
  background: #fff;
  color: #000;
  transition: 100ms;
}

.links {
  align-items: end;
  display: flex;
}

.logo {
  height: 13vh;
  margin: 5px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 5px 0;
}

.search,
.search::placeholder {
  background: #000;
  border: 1px solid #fff;
  border-right: none;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

.search:hover,
.search:focus {
  background: #2b2b2b;
  transition: 100ms;
}

.search_block {
  display: flex;
  width: 100%;
}

.search_button {
  background: #000;
  border: 1px solid #fff;
  border-left: none;
  cursor: pointer;
  margin: 0;
  transition: 100ms;
}

.search_button:active {
  background: #fff;
  transition: 100ms;
}

.search_button:hover {
  background: #2b2b2b;
  transition: 100ms;
}

.search_button_icon {
  height: 3vh;
  padding-top: 4px;
}
