<div class="header">
  <!-- 
    Desktop
   -->
  <div class="desktop" *ngIf="desktop">
    <div class="container dcontainer">
      <img
        src="assets/header/logo_white_revert.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 1"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_white_orig.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 2"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_red_revert.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 3"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_red_orig.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 4"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_blue_revert.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 5"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_blue_orig.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 6"
        (click)="onClickLogo()"
      />
      <div class="navbar">
        <div class="search_block dsearch_block">
          <input type="text" placeholder="Поиск..." class="search dsearch" />
          <button class="search_button dsearch_button">
            <img
              src="assets/header/search_icon_revert.svg"
              alt=""
              class="search_button_icon"
            />
          </button>
        </div>
        <div class="links dlinks">
          <a href="#" class="link dlink">БЛОГ</a>
          <a href="#" class="link dlink">ПРОЕКТЫ</a>
          <a href="#" class="link dlink">ПОРТФОЛИО</a>
          <a href="#" class="link dlink">ОБО МНЕ</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    Mobile
   -->
  <div class="mobile" *ngIf="!desktop">
    <div class="container mcontainer">
      <img
        src="assets/header/logo_white_revert.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 1"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_white_orig.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 2"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_red_revert.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 3"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_red_orig.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 4"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_blue_revert.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 5"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/logo_blue_orig.svg"
        alt="#"
        class="logo"
        *ngIf="clickLogo == 6"
        (click)="onClickLogo()"
      />
      <img
        src="assets/header/menu_revert.svg"
        alt="#"
        class="menu_button"
        *ngIf="!openMenu"
        (click)="onClickMenu()"
      />
      <img
        src="assets/header/close_revert.svg"
        alt="#"
        class="menu_button"
        *ngIf="openMenu"
        (click)="onClickMenu()"
      />
    </div>
    <div class="menu" *ngIf="openMenu">
      <div class="search_block">
        <input type="text" placeholder="Поиск..." class="search msearch" />
        <button class="search_button msearch_button">
          <img
            src="assets/header/search_icon_revert.svg"
            alt=""
            class="msearch_button_icon"
          />
        </button>
      </div>
      <div class="links mlinks">
        <a href="#" class="link mlink">БЛОГ</a>
        <a href="#" class="link mlink">ПРОЕКТЫ</a>
        <a href="#" class="link mlink">ПОРТФОЛИО</a>
        <a href="#" class="link mlink">ОБО МНЕ</a>
      </div>
    </div>
  </div>
</div>
