// For desktop
.dcontainer {
  margin: 0 auto;
  height: 14vh;
  max-width: 1400px;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 5px 0;
}
.dsearch_block {
  border: 1px solid #fff;
}
.dsearch {
  font-size: medium;
}
.dsearch:hover,
.dsearch:focus {
  background: #2b2b2b;
}
.dsearch_button:hover {
  background: #2b2b2b;
}
.dlinks {
  align-items: end;
}
.dlink {
  padding: 2vh 1vh 1vh;
}
.dlink:hover {
  background: #fff;
  color: #000;
  transition: 0ms;
}

// For mobile
.mcontainer {
  height: 10vh;
  width: 100%;
}
.msearch {
  font-size: x-large;
}
.msearch_button {
  padding: 15px;
  margin-right: 5px;
}
.mlinks {
  flex-direction: column;
  align-items: center;
}
.mlink {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
.mlink:active {
  color: #000;
  background: #fff;
  transition: 0ms;
}

// For all
.header {
  background: #000;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}
.logo,
.menu_button {
  margin: 5px;
}
.search_block {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.search,
.search::placeholder {
  background: #000;
  color: #fff;
  outline: none;
  border: none;
  width: 100%;
  padding: 0 10px;
}
.search_button {
  background: #000;
  border: none;
  cursor: pointer;
  transition: 200ms;
}
.search_button:active {
  background: #fff;
  transition: 0ms;
}
.search_button_icon {
  height: 3vh;
  padding-top: 4px;
}
.links {
  display: flex;
}
.link {
  color: #fff;
  background: #000;
  font-size: 3vh;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  transition: 300ms;
}
