<div class="header">
  <!-- 
    Desktop
   -->
  <div class="desktop" *ngIf="desktop">
    <div class="container dcontainer">
      <img src="assets/header/logo_white_revert.svg" alt="#" class="logo" />
      <div class="navbar">
        <div class="search_block dsearch_block">
          <button class="dlocale_button" (click)="onClickLocale()">
            <span *ngIf="localeRu">РУ</span>
            <span *ngIf="!localeRu">EN</span>
          </button>
          <input
            type="text"
            placeholder="{{ search | titlecase }}..."
            class="search dsearch"
          />
          <button class="search_button dsearch_button">
            <img
              src="assets/header/search_icon_revert.svg"
              alt=""
              class="search_button_icon"
            />
          </button>
        </div>
        <div class="links dlinks">
          <a href="#" class="link dlink">{{ blog | uppercase }}</a>
          <a href="#" class="link dlink">{{ projects | uppercase }}</a>
          <a href="#" class="link dlink">{{ portfolio | uppercase }}</a>
          <a href="#" class="link dlink">{{ about | uppercase }}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    Mobile
   -->
  <div class="mobile" *ngIf="!desktop">
    <div class="container mcontainer">
      <img src="assets/header/logo_white_revert.svg" alt="#" class="logo" />

      <img
        src="assets/header/menu_revert.svg"
        alt="#"
        class="menu_button"
        *ngIf="!openMenu"
        (click)="onClickMenu()"
      />
      <img
        src="assets/header/close_revert.svg"
        alt="#"
        class="menu_button"
        *ngIf="openMenu"
        (click)="onClickMenu()"
      />
    </div>
    <div class="menu" *ngIf="openMenu">
      <div class="search_block">
        <input type="text" placeholder="Поиск..." class="search msearch" />
        <button class="search_button msearch_button">
          <img
            src="assets/header/search_icon_revert.svg"
            alt=""
            class="msearch_button_icon"
          />
        </button>
      </div>
      <div class="links mlinks">
        <a href="#" class="link mlink">БЛОГ</a>
        <a href="#" class="link mlink">ПРОЕКТЫ</a>
        <a href="#" class="link mlink">ПОРТФОЛИО</a>
        <a href="#" class="link mlink">ОБО МНЕ</a>
      </div>
    </div>
  </div>
</div>
